@if (state().visible) {
    <div class="fixed left-0 bottom-[1em] mx-[10%] bg-gray-300 w-4/5 h-[3em] flex items-center justify-between rounded-lg">
            <span class="flex-1 text-center w-full">{{ state().message }}</span>
            <button type="button" (click)="sendClearEvent()" class="w-[2em]">
                <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M18 6 6 18"></path>
                    <path d="m6 6 12 12"></path>
                </svg>
            </button>
    </div>
}
