@if (predictedAnimal(); as animal) {
    <div>
        <h1>Predict species: {{ animal.species }}</h1>
        <table>
            <thead>
                <tr>
                    <th>Species</th>
                    <th>Probability</th>
                </tr>
            </thead>
            <tbody>
                @for (item of (animal.probabilities | keyvalue); track item.key) {
                    <tr>
                        <td>{{ item.key }}</td>
                        <td>{{ item.value }}</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}