<div class="center px-4">
    <form (submit)="triggerPredictAnimal(selectedModelInput.value, { walks_on_n_legs: Number(animalLegs.value), height: Number(animalHeight.value), weight: Number(animalWeight.value), has_wings: animalWings.checked, has_tail: animalTail.checked }); $event.preventDefault();">
        <h2 class="text-lg font-semibold mb-4">Send animal to predict</h2>
        <label for="models">Available models:</label><br>
        <select #selectedModelInput class="border border-gray-300 rounded p-2 " name="models" id="models">
        @for(model of availableModels(); track model) {
            <option [value]="model">{{model}}</option>
        }@empty {
            <option disabled>No models available</option>
        }
        </select><br>
        <label for="animalLegs" class="block mb-2 font-medium">Number of legs:</label>
        <input #animalLegs type="number" id="animalLegs" name="animalLegs" value="4" class="border border-gray-300 rounded p-2 mb-4" /><br>
        <label for="animalHeight" class="block mb-2 font-medium">Height (m):</label>
        <input #animalHeight type="number" id="animalHeight" name="animalHeight" value="0.3" class="border border-gray-300 rounded p-2 mb-4" /><br>
        <label for="animalWeight" class="block mb-2 font-medium">Weight (kg):</label>
        <input #animalWeight type="number" id="animalWeight" name="animalWeight" value="10" class="border border-gray-300 rounded p-2 mb-4" /><br>
        <input #animalWings type="checkbox" id="animalWings" name="animalWings" class="mb-4 px-2" /> <label for="animalWings" class="mr-4">Has wings</label>
        <input #animalTail type="checkbox" id="animalTail" name="animalTail" checked class="mb-4 px-2" /> <label for="animalTail">Has tail</label>
        <label for="predictAnimal" class="block mb-2 font-medium">Predict animal with selected model:</label>
        <button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700">
        Predict Animal
        </button>
    </form>
</div>